!!!
%html
  %head
    %title London Traffic Disruptions Map
    %script{:src => "https://maps.google.com/maps/api/js?libraries=geometry&v=3.22&key=AIzaSyD8eKPDmhw2kwEeNVG4RbqfBIXGtz-WZ54"}
      :cdata
    %script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => 'map.js'}
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => 'style.css' }
    %meta{:content => "initial-scale=1.0", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
  %body
    .h1 London Traffic Disruptions Map
    #map


